# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.class
*.jar
*.war
*.nar
*.ear

# Logs
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# ENVIRONMENT VARIABLES
# =========================
.env
.env.local
.env.production
.env.development

# =========================
# IDE FILES
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp

# =========================
# TEST / COVERAGE
# =========================
coverage/

# =========================
# SPRING BOOT DEVTOOLS
# =========================
.springBeans

# =========================
# CRASH LOGS
# =========================
hs_err_pid*
replay_pid*
